.clients__item {
  width: 100%;
  width: calc((100% - 30px) / 2);
  height: 92px;
  @include tablet {
    width: calc((100% - 60px) / 3);
  }
  @include desktop {
    width: calc((100% - 150px) / 6);
  }
}

.clients__item-link {
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: var(--default-transition-duration);
  transition-timing-function: var(--default-transition-timing-function);
  &:hover,
  &:focus {
    border: 1px solid var(--active-btn-color);
  }
  &:hover .clients__logo,
  &:focus .clients__logo {
    fill: var(--active-btn-color);
  }
}

.clients__logo {
  fill: #afb1b8;
  transition-duration: var(--default-transition-duration);
  transition-timing-function: var(--default-transition-timing-function);
}
