.modal {
  width: 450px;
  min-height: 609px;
  background-color: var(--background-color);
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateX(0px);
  opacity: 1;
  transition: transform var(--default-transition-duration) var(--default-transition-timing-function),
    opacity var(--default-transition-duration) var(--default-transition-timing-function);
  padding: 40px;
  @include desktop {
    width: 528px;
    min-height: 581px;
  }
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: 0;
}

.no-scroll {
  overflow: hidden;
}

.modal__title {
  font-weight: var(--main-font-weight);
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 12px;
}
