.connect {
  margin-left: 70px;
}

.connect__title,
.connect-form__title {
  font-weight: var(--main-font-weight);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--alternative-text-color);
  margin-bottom: 20px;
}

.connect__socials-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
  &:last-child {
    margin-right: 0;
  }
}

.connect__socials-list {
  display: flex;
  justify-content: center;
  /* margin-top: 20px; */
}

.connect__socials-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition-duration: var(--default-transition-duration);
  transition-timing-function: var(--default-transition-timing-function);
  &:hover,
  &:focus {
    background-color: var(--active-btn-color);
  }

  &:hover .connect-socials-icon,
  &:focus .connect-socials-icon {
    fill: var(--background-color);
  }
}

.connect__socials-icon {
  fill: #fff;
  transition-duration: var(--default-transition-duration);
  transition-timing-function: var(--default-transition-timing-function);
}

.connect-form {
  margin-left: 93px;
}

.connect-form .connect-form__field {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.connect-form__input {
  background-color: #2f303a;
  color: var(--background-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  transition-duration: var(--default-transition-duration);
  transition-timing-function: var(--default-transition-timing-function);

  &::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }

  &:focus,
  &:hover {
    border-color: var(--active-btn-color);
    outline: none;
  }

  &:focus-visible {
    border-color: var(--active-btn-color);
  }
}

.connect-form__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  text-align: center;
  padding: 0;
  min-width: 200px;
  height: 50px;
  border-radius: 4px;
  margin-left: 10px;
  fill: white;
  color: var(--background-color);
  background-color: var(--active-btn-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition-property: color, background-color;
  transition-duration: var(--default-transition-duration);
  transition-timing-function: var(--default-transition-timing-function);

  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: var(--active-btn-color);
    background-color: var(--background-color);
    border: 1px solid transparent;
    fill: var(--active-btn-color);
  }
  &:hover .connect-form-icon,
  &:focus .connect-form-icon {
    fill: var(--active-btn-color);
  }
}

.connect-form__icon {
  margin-left: 10px;
}
