.logo {
  font-family: var(--second-font-family);
  font-weight: var(--main-font-weight);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-right: 93px;
}

.logo__accent-blue {
  color: var(--active-btn-color);
}

.logo__accent-black {
  color: #000000;
}

.logo__accent-white {
  color: #ffffff;
}