body {
  font-family: var(--main-font-family);
  font-size: var(--default-font-size);
  background-color: var(--background-color);
  color: var(--master-text-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.section {
  padding-top: var(--default-padding);
  padding-bottom: var(--default-padding);
}

