:root {
  --background-color: #ffffff;
  --alternative-background-color: #2f303a;
  --main-text-color: #212121;
  --second-text-color: #757575;
  --alternative-text-color: #ffffff;
  --active-btn-color: #2196f3;
  --main-font-weight: 700;
  --main-font-family: 'Roboto', sans-serif;
  --second-font-family: 'Raleway', sans-serif;
  --default-font-size: 14px;
  --default-padding: 94px;
  --default-transition-duration: 250ms;
  --default-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

  $background-color: #ffffff;
  $alternative-background-color: #2f303a;
  $main-text-color: #212121;
  $second-text-color: #757575;
  $alternative-text-color: #ffffff;
  $active-btn-color: #2196f3;
  $main-font-weight: 700;
  $main-font-family: 'Roboto', sans-serif;
  $second-font-family: 'Raleway', sans-serif;
  $default-font-size: 14px;
  $default-padding: 94px;
  $default-transition-duration: 250ms;
  $default-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
